<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{baseurl}}\index.css">
  </head>
  <body link="blue" vlink="purple">
    <div class="WordSection1">
      <p class="MsoNormal" align="center" style='text-align:"center";page-break-after:avoid'>
        <b>
          <u>
            <span style="font-family:Arial Narrow,sans-serif">{{judul}}</span>
          </u>
        </b>
      </p>
      <p class="MsoNormal" align="center" style='text-align:"center"'>
        <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>No. <strong>
            <span style='font-family:"Arial Narrow",sans-serif;font-weight:normal'>{{letter_no}}</span>
          </strong>
        </span>
      </p>
      <p class="MsoNormal" style='text-align:justify;line-height:9.0pt'>
        <span lang="EN-GB" style='font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>
      <p class="MsoNormal" style='text-align:justify;line-height:9.0pt'>
        <span lang="EN-GB" style='font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>
      <p class="MsoNormal" style='text-align:justify;text-autospace:none'>
        <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>Bahwa berdasarkan pengamatan langsung dan/atau laporan yang dilengkapi bukti-bukti yang diterima oleh <br>
          <strong>
            <span style='font-family:"Arial Narrow",sans-serif;font-weight:normal'>{{company}}</span>
          </strong>
        </span>
        <span lang="EN-GB" style='font-size:10.0pt;
        font-family:"Arial Narrow",sans-serif;color:black'> (selanjutnya disebut “Perusahaan”), telah terjadi pelanggaran terhadap Perjanjian Kerja Bersama oleh pekerja sebagai berikut:</span>
      </p>
      <p class="MsoNormal" style='text-align:justify;line-height:9.0pt'>
        <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>
      <p class="MsoNormal" style='text-align:justify;line-height:9.0pt'>
        <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>

    <table>
        <tr>
            <td>
              <p class="MsoNormal" style='text-align:left'>
              <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
                <b>Nama</b>
              </span>
            </p>
            </td>
            <td>
              <p class="MsoNormal" style='text-align:left'>
                <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
                  <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                </span>
              </p>
            </td>
           <td>
              <p class="MsoNormal" style='text-align:left'>
              <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
              <strong>
                  <span style='font-family:"Arial Narrow",sans-serif;font-weight:normal'>&nbsp;{{name}}</span>
                </strong>
              </span>
            </p>
          </td>            
        </tr>
        <tr>
            <td>
              <p class="MsoNormal" style='text-align:left'>
              <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
                <b>NIK</b>
              </span>
            </p>
          </td>
          <td>
              <p class="MsoNormal" style='text-align:left'>
              <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
              </span>
            </p>
          </td>
           <td>
              <p class="MsoNormal" style='text-align:left'>
              <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
              <strong>
                  <span style='font-family:"Arial Narrow",sans-serif;font-weight:normal'>&nbsp;{{employee_id}}</span>
                </strong>
              </span>
            </p>
          </td>
        </tr>
        <tr>
            <td>
              <p class="MsoNormal" style='text-align:left'>
              <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
                <b>Jabatan</b>
              </span>
            </p>
          </td>
          <td>
              <p class="MsoNormal" style='text-align:left'>
              <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
              </span>
            </p>
          </td>
           <td>
              <p class="MsoNormal" style='text-align:left'>
              <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
              <strong>
                  <span style='font-family:"Arial Narrow",sans-serif;font-weight:normal'>&nbsp;{{jabatan}}</span>
                </strong>
              </span>
            </p>
          </td>
        </tr>
        <tr>
            <td>
              <p class="MsoNormal" style='text-align:left'>
              <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
                <b>Department</b>
              </span>
            </p>
          </td>
          <td>
              <p class="MsoNormal" style='text-align:left'>
              <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
                <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
              </span>
            </p>
          </td>
           <td>
              <p class="MsoNormal" style='text-align:left'>
              <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
              <strong>
                  <span style='font-family:"Arial Narrow",sans-serif;font-weight:normal'>&nbsp;{{department}}</span>
                </strong>
              </span>
            </p>
          </td>
        </tr>
    </table>

      <p class="MsoNormal" style='text-align:justify'>
        <b>
          <span lang="EN-GB" style='font-family:"Arial Narrow",sans-serif'></span>
        </b>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <b>
          <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
        </b>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'> (Selanjutnya disebut “Pekerja”).</span>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>Sehubungan ditemukannya bukti-bukti yang cukup, dan keterangan pihak-pihak dan saksi-saksi bahwa Pekerja telah melakukan pelanggaran sebagai berikut:</span>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>Melakukan  pelanggaran dengan kategori pelanggaran yang {{warning_level_description}}, sebagai berikut:</span>
      </p>
      <p class="MsoNormal" style='margin-left:36.0pt;text-align:justify'>
        <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>
      <p class="MsoNormal" CxSpMiddle style='margin-top:0cm;margin-right:1.45pt;
        margin-bottom:0cm;margin-left:36.0pt;margin-bottom:.0001pt;text-align:justify'>
        <strong>
          <i>
            <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif;
        font-weight:normal'>{{note}}</span>
          </i>
        </strong>
      </p>
      <p class="MsoNormal" CxSpMiddle style='margin-top:0cm;margin-right:1.45pt;
        margin-bottom:0cm;margin-left:36.0pt;margin-bottom:.0001pt;text-align:justify'>
        <i>
          <span lang="SV" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
        </i>
      </p>
      <p class="MsoNormal" CxSpMiddle style='margin-right:1.45pt;text-align:justify'>
        <span lang="SV" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>Mengacu kepada ketentuan dan perjanjian kerja bersama yang berlaku termasuk namun tidak terbatas pada ketentuan dan aturan {{violation_rule}},  Saudara telah melakukan pelanggaran ketentuan yakni:</span>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="SV" style='font-size:
        10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>
      <p class="MsoNormal" style='margin-left:36.0pt;text-align:justify'>
        <strong>
          <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif;
        font-weight:normal'>{{violation_rule}}</span>
        </strong>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="SV" style='font-size:
        10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="SV" style='font-size:
        10.0pt;font-family:"Arial Narrow",sans-serif'>Bahwa atas pelanggaran tersebut Perusahaan memberikan sanksi :</span>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="SV" style='font-size:
        10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>
      <p class="MsoNormal" align="center" style='text-align:"center"'>
        <b>
          <i>
            <span lang="SV" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>{{perihal}}</span>
          </i>
        </b>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="SV" style='font-size:
        10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="DE" style='font-size:
        10.0pt;font-family:"Arial Narrow",sans-serif'>yang berlaku terhitung sejak hari </span>
        <strong>
          <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif;
        font-weight:normal'>{{hari_sp}}</span>
        </strong>
        <span lang="DE" style='font-size:10.0pt;
        font-family:"Arial Narrow",sans-serif'>, tanggal </span>
        <strong>
          <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif;
        font-weight:normal'>{{tanggal_sp}}</span>
        </strong>
        <strong>
          <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif;font-weight:normal'></span>
        </strong>
        <span lang="DE" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>sampai dengan {{jumlah_bulan_expired}} (enam) bulan kemudian. </span>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="DE" style='font-size:
        10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="SV" style='font-size:
        10.0pt;font-family:"Arial Narrow",sans-serif'>Surat Peringatan ini disampaikan kepada Saudara </span>
        <span lang=IN style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>agar prestasi dapat ditingkatkan dan tidak mengulangi pelanggaran lagi</span>
        <span lang="SV" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>.</span>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <span lang="SV" style='font-size:
        10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <b>
          <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>Jakarta, <strong>
              <span style='font-family:"Arial Narrow",sans-serif'>{{tanggal_sp}}</span>
            </strong>
          </span>
        </b>
      </p>
      <p class="MsoNormal" style='text-align:justify'>
        <b>
          <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
        </b>
      </p>
      <div align="center">
        <table class="MsoNormal Table" border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse'>
          <tr>
            <td width="205" valign="top" style='width:154.05pt;padding:0cm 5.4pt 0cm 5.4pt'>
              <p class="MsoNormal" align="center" style='text-align:"center"'>
                <strong>
                  <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>{{company}}</span>
                </strong>
                <b>
                  <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>,</span>
                </b>
              </p>
            </td>
            <td width="205" valign="top" style='width:154.05pt;padding:0cm 5.4pt 0cm 5.4pt'>
              <p class="MsoNormal" align="center" style='text-align:"center"'>
                <b>
                  <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
                </b>
              </p>
            </td>
            <td width="205" valign="top" style='width:154.05pt;padding:0cm 5.4pt 0cm 5.4pt'>
              <p class="MsoNormal" align="center" style='text-align:"center"'>
                <b>
                  <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>Mengetahui,</span>
                </b>
              </p>
            </td>
          </tr>
          <tr style='height:84.15pt'>
            <td width="205" valign="top" style='width:154.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:84.15pt'>
              <p class="MsoNormal" align="center" style='text-align:"center"'>
                <b>
                  <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>Yang Memberi Peringatan</span>
                </b>
              </p>
            </td>
            <td width="205" valign="top" style='width:154.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:84.15pt'>
              <p class="MsoNormal" align="center" style='text-align:"center"'>
                <b>
                  <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
                </b>
              </p>
            </td>
            <td width="205" valign="top" style='width:154.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:84.15pt'>
              <p class="MsoNormal" align="center" style='text-align:"center"'>
                <b>
                  <span lang="SV" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>Atasan tidak langsung</span>
                </b>
              </p>
            </td>
          </tr>
          <tr>
            <td width="205" valign="top" style='width:154.05pt;padding:0cm 5.4pt 0cm 5.4pt'>
              <p class="MsoNormal" align="center" style='text-align:"center"'>
                <u>
                  <span lang="DE" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>___________________</span>
                </u>
              </p>
            </td>
            <td width="205" valign="top" style='width:154.05pt;padding:0cm 5.4pt 0cm 5.4pt'>
              <p class="MsoNormal" align="center" style='text-align:"center"'>
                <b>
                  <span lang="DE" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>
                    <span style='text-decoration:none'>&nbsp;</span>
                  </span>
                </b>
              </p>
            </td>
            <td width="205" valign="top" style='width:154.05pt;padding:0cm 5.4pt 0cm 5.4pt'>
              <p class="MsoNormal" align="center" style='text-align:"center"'>
                <u>
                  <span lang="DE" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>___________________</span>
                </u>
              </p>
            </td>
          </tr>
          <tr style='height:12.15pt'>
            <td width="205" valign="top" style='width:154.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.15pt'>
              <p class="MsoNormal" align="center" style='text-align:"center"'>
                <strong>
                  <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>{{issue_name}}</span>
                </strong>
              </p>
            </td>
            <td width="205" valign="top" style='width:154.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.15pt'>
              <p class="MsoNormal" align="center" style='text-align:"center"'>
                <b>
                  <span lang="DE" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>&nbsp;</span>
                </b>
              </p>
            </td>
            <td width="205" valign="top" style='width:154.05pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.15pt'>
              <p class="MsoNormal" align="center" style='text-align:"center"'>
                <strong>
                  <span lang="EN-GB" style='font-size:10.0pt;font-family:"Arial Narrow",sans-serif'>{{spv_name}}</span>
                </strong>
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>